---
import phoneHablix from "../assets/phonehablix.svg";
---

<div class="max-w-11/12 mx-auto px-4 sm:px-0.5 lg:px-0.5 py-10 sm:py-3 text-center">
  
    <div class="w-full mx-auto ">
      <h1 class="text-6xl sm:text-7xl lg:text-6xl font-bold text-[#002655] leading-tight">Conéctese con Hablix</h1>
        
      <p class="mt-6 sm:mt-10 text-2xl sm:text-2xl text-gray-700 px-0 sm:px-0 md:px-0 lg:px-24 lg:pb-32 w-full sm:w-11/12 md:w-10/12 mx-auto">
        Descubra cómo Hablix transforma la comunicación para cualquier tipo o tamaño de negocio. Nuestra plataforma ofrece un sistema telefónico virtual, videollamadas y mensajería interna, todo integrado de manera fluida para mejorar sus operaciones e interacciones con los clientes.
      </p>
      
 
    </div>
  
</div>



