---
// No necesitas importar React o useState en un componente Astro
// Astro maneja esto de forma diferente
 // Asegúrate de que la ruta sea correcta
---


  
<div id="cuentanos"class="bg-[#001A45] py-12 px-4 sm:px-6 lg:px-8" style="background-image: url(/src/assets/bgiconcontact.svg); background-size: cover; background-position: center;">  
  


  <h1 class="text-6xl font-bold text-center text-white pt-16">¡Cuéntanos Tus Necesidades!</h1>
  <!-- Línea degradado naranja -->
  <div class="w-64 sm:w-80  h-3 bg-gradient-to-r from-transparent via-[#e55934] to-transparent mx-auto mb-8 mt-8"></div>
  <p class="text-center text-white mt-2 mb-5 text-2xl">¡Para cualquier consulta o soporte, no dude en ponerse en contacto con nosotros!</p>
  

  <div class="max-w-7xl mx-auto bg-white p-8 rounded-lg shadow-md">
      <form id="contactForm" class="mt-10 space-y-12 ">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <label for="nombre" class="block text-sm font-bold text-gray-700 ">Nombre</label>
            <input type="text" id="nombre" name="nombre" placeholder="Ingrese el Nombre" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 text-base py-1 px-4" required />
          </div>
          <div>
            <label for="rol" class="block text-sm font-bold text-gray-700">Rol Laboral</label>
            <input type="text" id="rol" name="rol" placeholder="Ingrese su Rol" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 text-base py-1 px-4" required />
          </div>
          <div>
            <label for="apellido" class="block text-sm font-bold text-gray-700">Apellido</label>
            <input type="text" id="apellido" name="apellido" placeholder="Ingrese el Apellido" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 text-base py-1 px-4" required />
          </div>
          <div>
            <label for="empresa" class="block text-sm font-bold text-gray-700">Nombre de la Empresa</label>
            <input type="text" id="empresa" name="empresa" placeholder="Ingrese el Nombre de la Empresa" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 text-base py-1 px-4" required />
          </div>
          <div>
            <label for="correo" class="block text-sm font-bold text-gray-700">Correo Electrónico</label>
            <input type="email" id="correo" name="correo" placeholder="email@mailaddress.com" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 text-base py-1 px-4" required />
          </div>
          <div>
            <label for="categoria" class="block text-sm font-bold text-gray-700">Categoría</label>
            <select id="categoria" name="categoria" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 text-base py-1 px-4" required>
              <option value="">Seleccionar Categoría de Empresa</option>
              <option value="Pequeña Empresa">Pequeña Empresa</option>
              <option value="Mediana Empresa">Mediana Empresa</option>
              <option value="Gran Empresa">Gran Empresa</option>
            </select>
          </div>
        </div>
        <div>
          <label for="mensaje" class="block text-sm font-bold text-gray-700">Mensaje</label>
          <textarea id="mensaje" name="mensaje" rows="4" placeholder="Por favor, cuéntenos un poco sobre su empresa. ¿Cuáles son sus objetivos?" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm py-1 px-4" required></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="w-full md:w-auto bg-[#e55934] text-white font-bold py-2 px-4 rounded-md shadow-md hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">Enviar Mensaje</button>
        </div>
      </form>
      
      <div id="successMessage" class="hidden mt-4 p-4 bg-green-100 text-green-700 rounded-md">
        ¡Gracias por contactarnos! Tu mensaje ha sido enviado correctamente.
      </div>
      
      <div id="errorMessage" class="hidden mt-4 p-4 bg-red-100 text-red-700 rounded-md">
        Ha ocurrido un error al enviar tu mensaje. Por favor, inténtalo de nuevo.
      </div>
    </div>
  </div>
  
  <script type="module" src="/src/assets/js/sendEmail.js"></script>